os
csv==1.0
json==2.0.9
concurrent.futures
requests==2.31.0
datetime
time
random
tqdm==4.66.1
IPython.display==8.17.2
keyboard
pandas==2.1.2
numpy==1.26.1
geopy==2.4.0
array
functools
pickle
re==2.2.1
folium==0.14.0
openrouteservice==2.2.2
